**/.env
vite.config.js
.eslintrc.cjs
.vite
**/node_modules
**/dist
**/build
**/coverage
**/test
**/tests
**/tmp
backend/node_modules/.bin/conc
backend/node_modules/.bin/concurrently
backend/node_modules/.bin/mime
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nopt
backend/node_modules/.bin/semver
backend/node_modules/.bin/tree-kill
backend/node_modules/nodemon/node_modules/.bin/semver
backend/node_modules/nopt/.gitignore
backend/node_modules/simple-update-notifier/node_modules/.bin/semver
backend/node_modules/.bin/conc
backend/node_modules/.bin/concurrently
backend/node_modules/.bin/mime
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nopt
backend/node_modules/.bin/semver
backend/node_modules/.bin/tree-kill
backend/node_modules/nodemon/node_modules/.bin/semver
backend/node_modules/simple-update-notifier/node_modules/.bin/semver
.vscode/settings.json
