node_modules/
/**/node_modules/
dist/
/**/dist/
/**/.gitignore
/**/README.md
/**/package.json
/**/package-lock.json
/**/.swc/
/**/*.config.js
/**/*.config.ts
/**/.vscode/
/**/.vite/
/**/.husky/
/**/.*
/**/build/
/**/coverage/
/**/test/
/**/tests/
/**/tests_e2e/
/**/*.html
/**/*.css
