node_modules/
/**/node_modules/
dist/
/**/dist/
/**/.gitignore
/**/README.md
/**/package-lock.json
/**/.swc/
/**/.vscode/
/**/.vite/
/**/.husky/
/**/build/
/**/coverage/
/**/test/
/**/tests/
/**/tests_e2e/
